@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: roboto, arial;
    
}

body{
    background: linear-gradient(.75turn, #F5DA2F, #D4963B, #EB6F4D, #D43B95, #9E45F7);
    background-size: 500% 500%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#header{
    padding-top: 3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: linear-gradient(0.25turn, rgb(66, 57, 57), rgb(59, 45, 68));
    color: rgb(255, 238, 0);
}
h1{
    text-align: center;
    font-family: Gloria Hallelujah, Roboto, arial;
    font-size: 7rem;
    text-shadow: 5px 5px black;
    transition: all .1s ease-in-out;
}

#numPokemon{
    font-weight: 600;
}


#menu a{
    text-decoration: none;
    color: black;
}
#menu{
    position: fixed;
    z-index: 99;
    width: 100%;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(0.30turn, rgb(255, 238, 0), rgb(255, 208, 0));  
    padding: 0rem;
    border-bottom: 1px solid black;     
}

.gg-pokemon{
    position: relative;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


#btn-home {
    border-radius: 1rem;
    font-style: none;
    text-align: center;
    margin: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid black;
    width: 10%;
    padding: .5rem;
    background-color: rgb(255, 238, 0);
    cursor: pointer;
    
}



#btn-cadastro{
    border-radius: 1rem;
    text-align: center;
    margin: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid black;
    width: 10%;
    padding: .5rem;
    background-color: rgb(255, 238, 0);
    cursor: pointer;
}

#btn-cadastro:hover{
    transform: scale(1.01);
    background-color: rgb(255, 208, 0);    
}

#btn-home:hover{
    transform: scale(1.01); 
    background-color: rgb(255, 208, 0);  
}

html{
    scroll-behavior: smooth;
}

#titulo01 {
    color: #F5DA2F;
    text-shadow: 5px 5px black;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border: 2px solid rgb(5, 5, 5);
    border-bottom: 0;
    margin: 5rem 7rem 0 7rem;
    background: linear-gradient(0.25turn, rgb(66, 57, 57), rgb(59, 45, 68));
}

#cards{
    border: 2px solid rgb(5, 5, 5);
    border-top: 0;
    background: linear-gradient(0.25turn, rgb(66, 57, 57), rgb(59, 45, 68));
    margin: 0 7rem 0 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.card{
    background-color: rgba(223, 221, 221, 0.808);
    border: 5px solid rgb(5, 5, 5);
    margin: 2rem;
    padding: 1rem;
    width: 18rem;
    box-shadow: 15px 10px 10px 5px #03030360;
    transition: all .1s ease-in-out;
}
.card img{
    background-color: #fff;
    width: 100%;
    border: 1px solid black;
}
.card h2{
    margin: 1rem 0 1rem 0;
}
.card p{
    margin-bottom: 1rem;
}

.card:hover{
    transform: scale(1.05);
}

#btn-detalhes{
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
    color: rgb(36, 36, 243);
    background-color: rgb(231, 225, 225);
    padding: .2rem;
    border: 1px solid rgb(102, 101, 101);
    border-radius: .4rem;
    box-shadow: 5px 5px 10px rgb(73, 71, 71);
}

#btn-detalhes:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgb(36, 36, 243);
}

#btn-editar{
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 184, 0);
    background-color: rgb(231, 225, 225);
    padding: .2rem;
    border: 1px solid rgb(102, 101, 101);
    border-radius: .4rem;
    box-shadow: 5px 5px 10px rgb(73, 71, 71);
}

#btn-editar:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 184, 0); 
}


footer{
    text-align: center;
    color: #fffb01;
    font-size: 1.3rem;
    background: linear-gradient(0.25turn, rgb(66, 57, 57), rgb(59, 45, 68));
    margin-top: 5rem;
    padding: 4rem;
    
}

footer p a{
    text-decoration: none;
    color: #fffb01;
}

section#message {
    margin-top: 0;
    padding: .7rem 2rem .7rem 7rem;
    background-color: rgb(116, 233, 95);
    color: #004d04;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    transform: scale(1.5);
  }